<h1><%= @album.name %></h1>

<% if @album.user.id == current_user.id %>
  <div class="span12">
    <h2>Cargar foto</h2>
    <%= form_for @photo, html: { multipart: true } do |f| %>
      <%= f.text_field :description, placeholder: "Descripcion" %><br />
      <%= f.hidden_field :album_id, value: @album.id %>
      <%= f.file_field :file %><br />
      <%= f.submit 'Cargar' %>
    <% end %>
  </div>  	
<% end %>

<div class="span12" id="galleria">
  <% if !@album.photos.empty? %>
    <% @album.photos.each do |photo| %>
      <%= image_tag photo.file.url, data: { description: photo.description } %>
    <% end %>
  <% else %>
    <p>Este album no tiene imagenes :(</p>
  <% end %>
</div>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<%= javascript_include_tag 'galleria/galleria-1.2.9.min.js' %>
<script>
  Galleria.loadTheme('/assets/galleria/themes/classic/galleria.classic.min.js');
  Galleria.run('#galleria');
</script>
