<h2>Registrarse</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class='input-control text'><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div class='input-control password'><%= f.label :password %><br />
    <%= f.password_field :password %></div>

  <div class='input-control password'><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

  <div class='input-control text'><%= f.label :first_name %><br />
    <%= f.text_field :first_name %></div>

  <div class='input-control text'><%= f.label :last_name %><br />
    <%= f.text_field :last_name %></div>

  <%= f.label :born_at %><br />
  <div class="input-control select">
    <%= f.date_select :born_at, {:prompt => { :day => 'Seleccionar Día', :month => 'Seleccionar Mes', :year => 'Seleccionar Año' }, start_year: Date.today.year, end_year: 1900 }, {:class => 'date-select' }  %>
  </div>
  <div>
    <%= f.submit "Registrarse" %>
  </div>
<% end %>

