<%= form_for(@post) do |f| %>
  <div class="input-control textarea">
    <%= f.text_area :content, placeholder: "Qué estas pensando?" %>
    <%= f.hidden_field :user_a_id, value: current_user.id %>
    <%= f.hidden_field :user_b_id, value: current_user.id %>
  </div>

  <%= button_tag(type: 'submit', class: "default place-right") do %>
    Publicar
    <i class="icon-pencil"></i>
   <% end %>
<% end %>

<h1>Noticias</h1>
<% @posts.each do |post| %>
  <div class="span12">
  <div class="tile bg-color-blueDark post">
    <div class="tile-content">
      <%= link_to (image_tag post.user_sender.profile_photo, class: "place-left"), post.user_sender %>
      <h3 style="margin-bottom: 5px;">
        <%= link_to post.user_sender.to_s, post.user_sender %>
        <% if !post.is_home_post? %>    
          >>
          <%= link_to post.user_receiver.to_s, post.user_receiver %>
        <% end %>
      </h3>
      <p><b><%= post.content %></b></p>
      <%= I18n.l post.created_at %>
    </div>
  </div>  
</div>
<% end %>
