<div class="grid" id="user-show-content">
  <div class="row">
    <div class="span2">
      <div class="user-img">
        <img src="https://github.com/Skookum/meme-gifs/diff_blob/b741b1160a46c0137f73fd7221ce406c20dcb3b3/non-gifs/dayum.jpg?raw=true" class="place-left">
      </div>
      <div style="margin-bottom: 30px;">
        <%= @user.to_s %> 
      </div>

      <% if (@friendship and @friendship.are_friends?) or current_user.id == @user.id%>
        <h2>Amigos</h2>
        <% @user.friends.each do |f| %>
          <div>
            <%= link_to f.to_s, f %> 
          </div>
        <% end %>

        <br /><br />
        <%= link_to "<h2>Albums</h2>".html_safe, albums_path %>
        <% @user.albums.each do |a| %>
          <div>
            <%= link_to a.name, a %>
          </div>
        <% end %>
      <% end %>

    </div>
    <div class="span8">
      <% if @friendship %>
        <% if @friendship.new_record? %>
          <%= form_for(@friendship, url: users_send_friendship_path) do |f| %>
            <p>Usted y <%= @user.to_s %> no son amigos, enviele una solicitud de amistad en el siguiente botón:</p>
            <%= f.hidden_field :user_b_id, value: @user.id %>
            <%= f.submit "Enviar Solicitud de Amistad" %>
          <% end %>
        <% else %>
          <% if !@friendship.are_friends? %>
            <% if @friendship.user_a_id == current_user.id %>
              SOLICITUD DE AMISTAD ENVIADA
            <% else %>
              <%= form_for(@friendship, url: users_accept_friendship_path) do |f| %>
                <%= f.hidden_field :user_a_id, value: @user.id %>
                <%= f.submit "Aceptar Solicitud de Amistad" %>
              <% end %>
            <%end%>
          <% end %>
        <% end %>
      <%end%>
      <% if (@friendship and @friendship.are_friends?) or current_user.id == @user.id %>
        <%= form_for(@post) do |f| %>
          <div class="input-control textarea">
            <%= f.text_area :content, placeholder: "Qué quieres decirle a tu Amigo?" %>
            <%= f.hidden_field :user_a_id, value: current_user.id %>
            <%= f.hidden_field :user_b_id, value: @user.id %>
          </div>

          <%= button_tag(type: 'submit', class: "default place-right") do %>
            Publicar
            <i class="icon-pencil"></i>
          <% end %>
        <% end %>

        <% if !@user.profile_posts.empty? %>
          <div id="posts">
            <% @user.profile_posts.each do |post| %>
              <div>
                <div class="tile bg-color-blueDark post">
                  <div class="tile-content">
                    <img src="https://github.com/Skookum/meme-gifs/diff_blob/b741b1160a46c0137f73fd7221ce406c20dcb3b3/non-gifs/dayum.jpg?raw=true" class="place-left">
                    <h3 style="margin-bottom: 5px;">
                      <%= link_to post.user_sender.to_s, post.user_sender %>
                    </h3>
                    <p><b><%= post.content %></b></p>
                    <%= I18n.l post.created_at %>
                  </div>
                </div>  
              </div>
            <% end %>
          </div>
        <% else %>
          <p><% @user.first_name %> <% @user.last_name %> no tiene ninguna publicación :(</p>
          <p>Alegre su muro publicando algo.</p>
        <% end -%>
      <% end %>
    </div>
    <div class="span2">
    </div>
  </div>
</div>
